.reg-threesixty{
  opacity: 1;
  transition: opacity 0.5s ease;
  position: relative;
  overflow: hidden;
}

.reg-threesixty.loading-first{
  opacity: 0;
}

.reg-threesixty img{
  width: 100%;
  height: auto;
  display: block;
  visibility: hidden;
  position: absolute;
}

.reg-threesixty img.current{
  visibility: visible;
}
